.myFormContainer{
    padding: 15px;
    padding-left: 35px;
}

.subtitle{
    margin-top: 20px;
}

.inputContainer{
    margin-top: 10px;
}

.styleInput{
    width: 100%;
    border-radius: 10px;
    border: 1px, solid;
}

.infoButton{
    background-color: #E07B28;
    border: none;
    height: 30px;
    color: white;
    width: 40px;
    border-radius: 10px;
}

.mainButton{
    background-color: #42E4FF;
    border: none;
    color: black;
    border-radius: 5px;
    font-weight : bold ;
    padding: 6px;
    margin-top: 10px;
    
}

.tableContainer{
    margin-top: 20px;
}

.deleteButton{
    background-color: #42E4FF;
    border: none;
    height: 30px;
    color: black;
    border-radius: 10px;
}

.addButton{
    background-color: #098094;
    border: none;
    height: 30px;
    color: white;
    border-radius: 10px;
}

table{
    padding-right: 0px;
    margin-right: 0px;
    width: 100%;
}

.addRowContainer{
    text-align: right;
}


.colorInput{
    height: 100%;
}

.applyButton{
    background-color: #098094;
    border: none;
    height: 40px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

