<div class= "myReportContainer">

    <h2>Your report   <i class="pi pi-file" style="font-size: 2rem"></i></h2> 

    <div class = "row" *ngIf="!myChart">
        <div class="col infoContainer"><p>The chart will appear here when you send the data</p></div>
    </div>
    
    <div id = "reportContainer">
        <div class="row"   *ngIf="title">
            <div class="col">
                <h3>{{title}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><p-chart type="pie" [data]="data" ></p-chart></div>
            <div class="col-4"></div>
        </div>
    

        <!--table-->
        <div *ngIf="addTable" >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Data name</th>
                    <th scope="col">Value</th>
                    <th scope="col">Percentage (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of myChart.dataSet.data; index as i">
                    <th scope="row">{{myChart.labels[i]}}</th>
                    <td>{{myChart.dataSet.data[i]}}</td>
                    <td>{{percentages[i] | number: '1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>



        </div>
    
 
    </div>
    
    <div class="row optionsContainer" *ngIf="myChart">
        <div class="col-3"></div>
        <div  class="col-3">
            <div class="form-check">
                <input class="form-check-input" (click)="showTable()" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Add a table with my data
                </label>
          </div>
        </div> 

        <div class="col-3">
            <button class="downloadButton" (click)="openPDF()">Download PDF</button>
        </div>
        <div class="col-3"></div>
            
    </div>

    <br>
    <br>
    


</div>







