<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://infiniteiotdevices.com/images/logo.png" rel="icon" sizes="16x16" type="image/gif" />
</head>
<body> 
	<div class="bg"></div>
	<div class="container">
		<div class="left"></div>
		<div class="right">
			<div class="formBox">
				<h1>Create an account</h1>
				<form [formGroup]="myForm" (ngSubmit)="getUser()">
					<p>Name</p>
					<input type="text" formControlName = "name" placeholder="Your name">
					<p class="form-text text-danger" 
                		*ngIf="checkForm('name')">
                		Please write your name
            		</p>

					<p>Phone</p>
					<input type="text" formControlName = "phone" placeholder="1234-5678">
					<p class="form-text text-danger" 
                		*ngIf="checkForm('phone')">
                		Please write your phone using the format 1234-5678
            		</p>



					<p>E-mail</p>
					<input type="text" formControlName = "email" placeholder="Your e-mail">
					<p class="form-text text-danger" 
                		*ngIf="checkForm('email')">
                		Please write a valid e-mail
            		</p>

					<p>Password</p>
					<input type="Password" formControlName = "password" placeholder="••••••••">
					<p class="form-text text-danger" 
                		*ngIf="checkForm('password')">
                		A valid password is at least 8 characters long 
            		</p>

					<!--button-->
					<input type="submit" value="Create account"> 
					<a href="">I have an account</a>
				</form>

			</div>
		</div>
	</div>
</body>
</html>