
.divBackground{
    background-image: url("../../../assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    height:90vh;
    opacity: 0.6;
    z-index: 0;
    position: fixed;
}

.divContainer{
    position: fixed;
    z-index: 9999;
    width: 100%;
    text-align: center;
    top: 30%;
    color: black;
}


h1{
    background-color: rgba(255, 255, 255, 0.698);
    border: none;
    padding: 2%;
    font-size: 3.5em;
    margin: 0px;
}



.buttonContainer{

    display: flex;
    position: fixed;
    z-index: 9999;
    width: 80%;
    left: 10%;
    top: 60%;
    color: black;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


p{
    width: 40rem;
}
a{
    width: 30rem;
    display: inline;
    text-decoration: none;
    color: black;
    font-size: 2em;
    margin: 20px;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.698);
}


@media screen and (max-width: 768px) {
    .buttonContainer{
        top: 70%;
    }

    h1{
        font-size: 2em;
    }

    .divContainer{
        top: 40%;
    }

    a{
        display: block;
        width: 100%;
        font-size: 1.2em;
        margin-left:0px ;
        margin-right: 0px;
    }

    p{
        display: none;
    }

    .buttonContainer{
        top: 60%;
        flex-direction: column;
        width: 100%;
        left: 0%;
    }
}