.chartContainer{
    margin: 15px;
}

.downloadButton{
    
    background-color: #E07B28;
    border: none;
    height: 40px;
    color: white;
    border-radius: 10px;


}

.buttonContainer{
    text-align: left;
}

.infoContainer{
    text-align: center;
    vertical-align: middle
}

.form-check{
    padding: 0px;
    margin-top: 16px;
}

.optionsContainer{
    margin-top: 20px;
}

@media screen and (max-width: 768px)
{
    .inputTable{
        margin-left: 5px;
    }

}